.title {
  text-align: center;
}

.table {
  padding-bottom: 2rem;
  margin: 0;
}

.tableItem {
  margin: 0;
  padding: .3rem 0;
}

.informationSourceDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.informationSourceSpan {
  padding-right: 0.5rem;
}


.fullScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
}

.halfScreen {
  width: 50%;
  min-width: 50%;
  padding: 0 1rem;
}

.halfScreenBorder {
  width: 50%;
  padding: 0 1rem;
  border: 1px solid lightgrey;
}

.fullScreen img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 55vh;
}

.halfScreen img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 55vh;
}

@media (max-width: 800px) {
  .fullScreen {
    padding-top: 0;
  }

  .fullScreenRow {
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: auto;
  }

  .halfScreen {
    width: 100%;
    padding-bottom: 2rem;
  }

  .halfScreenBorder {
    width: 100%;
    padding-bottom: 2rem;
    border: 1px solid lightgrey;
  }
}
