.container {
  background-color:  rgba(211, 211, 211, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin: 0 0.5rem 1rem 0.5rem;
}

.main {
  margin: 0 20px;
  min-height: 100vh;
  max-width: 1000px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100%;
  font-size: 17px;
  padding: 7px;;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: white;
  box-shadow: -1px 0 8px lightgrey;
  transition: scale .2s, box-shadow .2s;
}

.button:hover {
  scale: 1.1;
  box-shadow: -1px 0 8px black;
}

.button:active {
  scale: 1;
}

.buttonContainer {
  padding: 1rem;
  min-width: 25%;
}

.imageContainer img {
  object-fit: contain;
  width: 100%;
}

.imageContainer {
  margin-bottom: 20px;
}

.aboutTitle {
  margin-bottom: 0;
}

.aboutInfo {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.sideTitle {
  padding-bottom: 1rem;
  margin: 0;
  border-bottom: 1px solid black;
}

.searchContainer {
  padding: 1rem;
}

.spacing1 {
  height: 10px;
}

@media (max-width: 800px) {
  .container {
    padding: 0;
  }

  .main {
    padding: 0;
  }

  .buttonContainer {
    min-width: 50%;
  }
}

