.bannorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1px;
}

.bannorTitle {
  align-self: flex-start;
  margin: 0.5rem 0 0.5rem 2rem;
}

.bannorSubTitle {
  align-self: flex-end;
  margin: 0.5rem 2rem 0.5rem 10rem;
}

.sidebarContainer {
  align-self: stretch;
  max-width: 20%;
  min-width: 20%;
  overflow: hidden;
  padding: 1rem;
  overflow-wrap: break-word; 
}

.rowItemContainer {
  margin: .5rem 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 1rem;
  overflow-wrap: break-word; 
  background-repeat: no-repeat;
  background-size: cover;
}

.vertContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.horContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
}

.subtitle {
  margin-top: 0;
  opacity: 0.3;
}

.link {
  cursor: pointer;
}

.link:hover {
  border: 1px solid black;
}

.bannorLink {
  cursor: pointer;
}

.childContainer {
  padding: 1rem;
}

.miniText {
  font-size: 0.6rem;
  opacity: 0.6;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  opacity: 0.4;
  width: 100%;
  font-size: x-small;
}

@media (max-width: 800px) {
  .sidebarContainer {
    display: none;
  }
}

