.barContainer {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  visibility: visible;
  margin-bottom: 1rem;
  box-shadow: 0 1px 9px black;
  background-color: white;
  top: 0;
}

.itemContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.topBarItem {
  width: auto;
  height: auto;
  text-align: center;
  padding: 0 0.75rem 0 0.75rem;
  cursor: pointer;
  display: inherit;
}

.topBarItem:hover {
  color: grey;
}

.mobileDropdownXContainer {
  width: 100%;
  height: auto;
  justify-content: left;
  display: none;
  margin: 0.5rem;
}

.mobileDropdownItem1, .mobileDropdownItem2{
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.mobileDropdownItem1 {
  background-color: rgb(230, 230, 230);
}

.mobileDropdownItem1:hover, .mobileDropdownItem2:hover {
  color: grey;
}

.mobileDropdownContainerClose {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  transition: top .4s;
  display: none;
  background: white;
}


.mobileDropdownContainerOpen {
  position: absolute;
  top: 0vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  transition: top .4s;
  display: none;
  background: white;
}

.mobileListContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.textContainer {
  width: 300px;
  height: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: inherit;
}

.mobileItem {
  display: none;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  cursor: pointer;
}


@media (max-width: 800px) {

  .barContainer {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    visibility: visible;
    margin-bottom: 1rem;
    box-shadow: none;
    background-color: white;
    top: 0;
  }

  .mobileDropdownContainerClose {
    display: flex;
    font-size: 1.3rem;
  }

  .mobileDropdownContainerOpen {
    display: flex;
    font-size: 1.3rem;
  }

  .mobileDropdownXContainer {
    display: flex;
    font-size: 1.3rem;
  }

  .mobileItem {
    display: flex;
    font-size: 1.3rem;
  }

  .mobileDropdownItem1, .mobileDropdownItem2 {
    display: flex;
    font-size: 1.3rem;
  }

  .topBarItem {
    display: none;
  }

  .textContainer {
    display: none;
  }
}

